/* index.css */
.sidebar {
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  background: linear-gradient(180deg, #007bff, #6610f2);
  color: white;
  padding-top: 1rem;
}

.sidebar .nav-link {
  color: white;
}

.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  margin-left: 200px;
  padding-top: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.card-body {
  padding: 2rem;
}

.nav-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  color: #495057;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link .me-2 {
  margin-right: 0.5rem;
}

.text-end {
  text-align: right;
}

.sidebar-right {
  background: linear-gradient(180deg, #f8f9fa, #e9ecef);
  border-left: 1px solid #ddd;
}

.card {
  width: 100%;
}

.card-body h5 {
  text-align: center;
}

.card-body button {
  margin-top: 1rem;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075) !important;
}
